#form-start {
    visibility: hidden;
    display: none;
}

#form-end {
    visibility: hidden;
    display: none;
}

#submit {
    position: relative;
    float: right;
    margin-right: 10em;
    height: 30px;
    width: 60px;
}